# Environment variables example
DATABASE_URL=mysql://ceis:ceis@localhost:3306/ceis
NEXTAUTH_SECRET=your_nextauth_secret
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
NEXT_PUBLIC_SITE_URL=http://localhost:3000
