@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #0F4C81;
  --color-secondary: #00695C;
  --color-accent: #F4B400;
  --bg: #F8FAFC;
}

.btn-primary{ @apply bg-primary text-white px-4 py-2 rounded-md shadow-sm }
